:host {
    width: 100%;
    position: absolute;
    top: 4rem;
    .wrapper-main {
        height: 100%;
        background-color: #FBFBFB;
        .container-set {
            height: 100%;
            background-color: #ffffff;
            box-shadow: 0px 0px 41px -12px rgba(0,0,0,0.42);
        }
    }
}